{% extends 'base.html' %}

{% block content %}

<div class="flex-container centered-container cell-80pc">

    <section class="cell-80pc cell-margin">

        <div class="centered">

            <h2>Books</h2>

        </div>

        <table>

            <thead>
                <tr class="table-row--head">
                    <td>Title</td>
                    <td>Release Date</td>
                    <td>Author</td>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                <tr class="table-row--body">
                    <td>{{ book.title }}</td>
                    <td>{{ book.release_date }}</td>
                    <td>{{ book.author.first_name }} {{ book.author.last_name }}</td>
                    <td><a href="/books/{{ book.id }}">More info</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </section>

    <section class="cell-20pc">

        <a href="/books/add"><div class="large-button">
            <p>Add a Book</p>
        </div></a>

    </section>

</div>

{% endblock %}