{% extends 'base.html' %}

{% block content %}

<div class="flex-container">

    <section class="cell-50pc cell-margin">

        <div class="centered">

            <h2>Books</h2>

        </div>

        <table>

            <thead>
                <tr class="table-row--head">
                    <td>Title</td>
                    <td>Release date</td>
                    <td>Author</td>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                <tr class="table-row--body">
                    <td>{{ book.title }}</td>
                    <td>{{ book.release_date }}</td>
                    <td>{{ book.author.first_name }} {{ book.author.last_name }}</td>
                    <td><a href="/book/{{ book.id }}">More info</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </section>

    <section class="cell-50pc">

        <div class="centered">

            <h2>Authors</h2>

        </div>

        <table>

            <thead>
                <tr class="table-row--head">
                    <td>First Name</td>
                    <td>Last Name</td>
                </tr>
            </thead>

            <tbody>
                {% for author in authors %}
                <tr class="table-row--body">
                    <td>{{ author.first_name }}</td>
                    <td>{{ author.last_name }}</td>
                    <td><a href="/author/{{ author.id }}">More info</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </section>

</div>

{% endblock %}